@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Chivo Mono', monospace;
}
.gradient {
  background-image: linear-gradient(
    159.15deg,
    #ffde4e 0.67%,
    rgba(245, 65, 61, 0.25) 100%
  );
}
.gradient-child {
  background: linear-gradient(
    128.79deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 20px;
}
.no-break{
    white-space: nowrap;
}
.auth-btn{
    background: linear-gradient(138.29deg, #FFDE4E 23.02%, rgba(245, 65, 61, 0.25) 113.12%);
    border-radius: 10px;
    @apply shadow-lg hover:shadow-2xl shadow-black/10 transition duration-300 ease-in;
}
input{
  @apply placeholder-placeholder;
}
.layout{
  background-color: #E7E7E7;
  display: grid;
  grid-template-columns: 1fr 1fr 0.85fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "navbar navbar navbar" 
                        "main main sidebar"
                        "footer footer footer";
  min-height: 100vh;
}
.navbar{
  grid-area: navbar;
}
.sidebar{
  grid-area: sidebar;
}
.main{
  grid-area: main;
}
.footer{
  grid-area: footer;
}

@media (max-width: 968px) {
  .layout{
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-template-areas: "navbar" "main";
  }
  .sidebar{
    display: none;
  }
}
.nest h1,.quill .ql-snow .ql-editor h1 {
  @apply text-base font-semibold;
}
.quill .ql-snow .ql-editor h2, .nest h2 {
  @apply font-semibold;
}
.quill .ql-snow .ql-editor *, .nest * {
  @apply text-sm;
}